<div id="cards">

</div>

<script type="text/javascript">
  $( document ).ready(function() {

    $.get( "<%= profile_path(@profile)  %>", function(data) {
      $( "#cards" ).html( data )
    });

  });
</script>
