<div id="cards">

</div>

<button type="button" id="decision_no">No</button>
<button type="button" id="decision_yes">Yes</button>

<script type="text/javascript">
  $( document ).ready(function() {

    getCard(<%= @profile.id %>);

    function getCard(userId) {
      $.get( "/profiles/" + userId, function(data) {
        $( "#cards" ).html( data )
      });
    }

    $( "#decision_no" ).click(function() {

      $.post( "<%= decisions_path %>", { decision: this.id }, function(data) {
        getCard(data.id)
      })

    });

    $( "#decision_yes" ).click(function() {

      $.post( "<%= decisions_path %>", { decision: this.id }, function(data) {
        getCard(data.id)
      })

    });

  });
</script>
