<div class="card_container">
  <div id="card" class="text-center">
    <img id="profile_image" src="" />
    <h2 id="profile_name">loading ...</h2>
    <h3 id="profile_user_name">loading ...</h3>
    <p id="profile_about_me">loading ...</p>
    <h4>Current Project:</h4>
    <p id="profile_current_project">loading ...</p>

    <button type="button" id="left" class="btn btn-danger">No</button>
    <button type="button" id="right" class="btn btn-success">Yes</button>
  </div>
</div>



<script type="text/javascript">
  $( document ).ready(function() {

    getCard(<%= @profile.id %>);

    function getCard(userId) {
      $.getJSON( "/profiles/" + userId, function(data) {
        $( "#profile_about_me" ).html( data.about_me )
        $( "#profile_image" ).attr( "src", "https://avatars2.githubusercontent.com/u/" + data.uid + "?v=3&s=300" )
        $( "#profile_name" ).html( data.name )
        $( "#profile_user_name" ).html( "@" + data.username )
        $( "#profile_current_project" ).html( data.current_project )
      });
    }

    function makeDecision(buttonId) {
      $.post( "<%= decisions_path %>", { decision: buttonId }, function(data) {
        getCard(data.id)
      });
    }

    $( "#left" ).click(function() {
      makeDecision(this.id);
    });

    $( "#right" ).click(function() {
      makeDecision(this.id);
    });

    // ================ Single Swipe ===============

    $("#card").swipe({
      swipeLeft: function(event, direction, distance, duration, fingerCount) {
        makeDecision(direction);
        console.log("You swiped " + direction );
        console.log("The event is " + event);
        console.log("The duration is " + duration);
        console.log("The fingerCount is " + fingerCount);

      },

      swipeRight: function(event, direction, distance, duration, fingerCount) {
        makeDecision(direction);
        console.log("You swiped " + direction );
        console.log("The event is " + event);
        console.log("The duration is " + duration);
        console.log("The fingerCount is " + fingerCount);
      }
    });

  });
</script>
