<div class="card_container">
  <div id="card" class="text-center">
    <img id="profile_image" src="" />
    <h2 id="profile_name">loading ...</h2>
    <h3 id="profile_user_name">loading ...</h3>
    <p id="profile_about_me">loading ...</p>
    <h4>Current Project:</h4>
    <p id="profile_current_project">loading ...</p>
    <h4>My Skills:</h4>
    <p id="profile_skills">loading ...</p>

    <button type="button" id="left" class="btn btn-danger">No</button>
    <button type="button" id="right" class="btn btn-success">Yes</button>
  </div>
</div>

<script src="<%= javascript_url("jquery.cards") %>" type="text/javascript"></script>
<script>
  $(document).ready(function(){
    var cards = new Cards(<%= @profile.id %>);
    cards.getCardData();

    $( "#left" ).click(function() {
      cards.makeDecision(this.id);
    });

    $( "#right" ).click(function() {
      cards.makeDecision(this.id);
    });

    $("#card").swipe({
      swipeLeft: function(event, direction, distance, duration, fingerCount) {
        cards.makeDecision(direction);
      },

      swipeRight: function(event, direction, distance, duration, fingerCount) {
        cards.makeDecision(direction);
      }
    });
  });
</script>
