<h1>Profile</h1>
<div class="profile-left">
  <h2 class="email"><%= @user.email %><h2>
  <p class="about_me"><%= @user.about_me %></p>
</div>

<div class="profile-right">
  <h2 class="my_projects">My Projects<h2>
  <p class="project"><%= @user.current_project %><p>
</div>
