
<div class="title-wrapper">
<div class="home-information">
<div id="landing" class="text-center">
  <h1 class="landing-header">Swipe to find your perfect pair</h1>
  <br>
  <br>
  <br>
  <a id='github-button' class="btn btn-lg btn-social btn-github" href="<%= user_github_omniauth_authorize_url %>">
    <span class="fa fa-github"></span> Sign in with GitHub
  </a>
</div>
</div>
</div>





<!-- SLIDER BACKGROUND -->
<script type="text/javascript">
	jQuery(function($){
		$.supersized({
			// Functionality
			slide_interval          :   4000,		// Length between transitions
			transition              :   1, 			// 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
			transition_speed		:	700,		// Speed of transition
			// Components
			slide_links				:	'blank',	// Individual links for each slide (Options: false, 'num', 'name', 'blank')
			slides 					:  	[			// Slideshow Images
				{image : "<%= image_url("landing1.jpg") %>" },
        {image : "<%= image_url("landing2.jpg") %>" },
        {image : "<%= image_url("landing4.jpg") %>" }

			]
		});
	});
</script>
