<div id="landing" class="text-center">
  <a class="btn btn-lg btn-social btn-github" href="<%= user_github_omniauth_authorize_url %>">
    <span class="fa fa-github"></span> Sign in with GitHub
  </a>
</div>
