// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.logo {
  height: 65px;
  padding-bottom: 30px;
  margin-top: -10px;
}

// .navbar-brand {
//   border: 1px solid red;
//   object-fit: cover;
// }
//
// .navbar-header {
//   border: 1px solid blue;
// }
