// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.logo {
  height: 65px;
  padding-bottom: 30px;
  margin-top: -10px;
}

.profile_photo {
  border-radius: 20%;
  margin: 10px, 10px, 10px, 10px;
  // border: 2px solid black;
  height: 150px;
  width: 150px;
}



// .navbar-brand {
//   border: 1px solid red;
//   object-fit: cover;
// }
//
// .navbar-header {
//   border: 1px solid blue;
// }
